body {
    margin: 0;
    padding: 0;
    background-color: #f4f4d9;
}

.logo {
    width: 100px;
}

.login_logo {
    width: 50px;
}

.content {
    display: flex;
    min-height: 766px;
}

.title {
    text-align: center;
    margin: 0;
    color: #A5844F;
}

main {
    width: 80%;
    margin: 10px;

}
aside {
    width: 20%;
    border-left: 1px solid #A5844F;
}

header {
    display: flex;
    justify-content: space-between;
    background: #dddda7;
    align-items: center;
    border-bottom: 1px solid #A5844F;
}

nav {
    background: #A5844F;
    padding: 5px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 15px;
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: white;
    width: 100px;
    padding: 10px;
    background: #A5844F;
    border-radius: 15px;
}

nav ul li a:hover {
    background: white;
    color: black;
}

footer {
    background: #dddda7;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

aside {
    background: #e6e6ba;

}
aside h3 {
    text-align: center;
}

.info {
    font-size: 40px;
    font-weight: bold;
}

aside ul {
    list-style-type: none;
    align-self: center;
    justify-self: center;
}

.hidden {
    display: none;
}

button:active {
    border: 0;
    transform: scale(0.98);
}
button {
    outline: none;
    width: max-content;
    padding: 10px;
    border-radius: 15px;
    border: 0;
    background: #A5844F;
}

button:hover {
    cursor: pointer;
    background: #8f7144;
}

button.confirm {
    background: #118a11;
    color: white;
}

.confirm:hover {
    background: #159a15;
}

button.danger {
    background: #ac0000;
    color: white;
}

.danger:hover {
    background: red;
}

button.warning {
    background: #ff8c00;
    color: white;
}
.warning:hover {
    background: orange;
}

.success {
    color: #4d85ea;
    text-align: center;
}

.error {
    color: red;
    text-align: center;
}


.modal {
    width: 100%;
    align-self: center;
    background: rgba(255, 255, 255, 0.5);
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.modal_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #DDDDA7;
    padding: 20px;
    border-radius: 15px;
}

.modal_content form {
    display: flex;
    flex-direction: row;
}

.modal_content form button:first-of-type {
    margin-right: 10px;
}


input[type="file"] {
    border: 1px solid black;
    width: max-content;
    padding: 20px;
    border-radius: 15px;
    background: #dddda7;
}