@import url('lists.css');

.five_items {
    grid-template-columns: repeat(5, 1fr);
}

.container_five {
    grid-column: span 5;
}

.image_button {
    height: max-content;
}

.operations {
    align-items: center;

}

.element span {
    display: inline;
    padding: 10px;
    text-align: center;
    min-height: 19px;
    align-content: center;
}

h3 {
    text-align: center;
}

.comments {
    padding: 10px;
}

div.container {
    display: block;
}

.items:hover {
    cursor: inherit;
}

.modifications form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modifications {
    margin: 20px 25%;
}

.modifications label {
    text-align: center;
    font-size: 17px;
}

.modifications textarea {
    margin: 0 30px;
    background-color: #e6e6ba;
    margin: 3px;
}

.modifications div {
    display: flex;
    justify-content: space-around;
}