@import url('lists.css');

.five_items {
    grid-template-columns: repeat(5, 1fr);
}

.container_five {
    grid-column: span 5;
}

.image_button {
    height: max-content;
}

.operations {
    align-items: center;

}

.element span {
    display: inline;
    padding: 10px;
    text-align: center;
    min-height: 19px;
    align-content: center;
}

h3 {
    text-align: center;
}

.comments {
    padding: 10px;
}
