{% extends 'origin.twig' %}

    {% block style %}
        {{ parent() }}
        <link rel="stylesheet" href="../css/index.css">
    {% endblock %}

    {% block main %}
        <main>
            <h1>Lo sentimos, hay un error con la creación de su usuario</h1>
            <a href="../pages/registro.php">Volver a intentarlo</a>
        </main>
    {% endblock %}