<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Kiano Hotel</title>
    {% block style %}
        <link rel="stylesheet" href="../css/general.css">
    {% endblock %}

    {% block script %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% endblock %}
</head>
<body>
<header>
    <img src="../images/logo.png" alt="logo del hotel" class="logo">
    <nav>
        <ul>
            <li><a href="./index.html">Inicio</a></li>
            <li><a href="./habitaciones.html">Habitaciones</a></li>
            <li><a href="./servicios.html">Servicios</a></li>
            <li><a href="./reservas.html">Reservas</a></li>
            <li><a href="./registrarse.html">registrarse</a></li>
        </ul>
    </nav>
    <a href="#"><img src="../images/login.png" class="login_logo"></a>
</header>
<div class="content">
    {% block main %}
        <main>
            <section>

            </section>
        </main>
    {% endblock %}

    <aside>
        <h3>Información sobre el hotel</h3>
        <ul>
            <li><span class="info">{{ aside.rooms ? aside.rooms : 0 }}</span> habitaciones en el hotel</li>
            <li><span class="info">{{ aside.freeroms ? aside.freeroms : 0}}</span> habitaciones libres</li>
            <li><span class="info">{{ aside.max ? aside.max : 0 }}</span> personas máximo</li>
            <li><span class="info">{{ aside.hosted ? aside.hosted : 0 }}</span> personas alojadas</li>
        </ul>

    </aside>
</div>

<footer>
    <div><a href="./caracteristicas.html">Documentación del proyecto</a> - <a href="#">Restaurar base de datos</a></div>
    <span>Jordi Pereira Gil - Antonio BArco Pérez</span>
</footer>
</body>
</html>